.menu{

    margin-top: 50px;
    color: white;
    width: 130px;
    height: 150px;
    position: fixed;
    top: 0;
    right: -130px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 2;
    transition: all 1s ease;
}

.menu.active {
    right: 0;
    position: absolute;

}
